---
import Section from "../../components/Section.astro";
import ProjectIcon from "../../components/icons/ProjectIcon.astro";
---

<Section class="rounded-2xl w-1/2 border-0" id="projects">
  <div
    class="flex flex-col justify-start items-start h-2/5 p-4 mb-4 rounded-2xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 lg:p-12"
  >
    <h2
      class="inline-flex items-center gap-4 mb-4 text-4xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
    >
      <ProjectIcon class="w-8 h-8 stroke-gray-900" />
      Projects
    </h2>
    <p class="text-lg font-normal text-gray-500 dark:text-gray-500">
      I specialize in creating intuitive and visually stunning digital products.
      I am dedicated to delivering high-quality user experiences and creating
      secure, scalable systems that meet your business objectives. I focus on
      user-centered design principles to ensure our products are functional and
      aesthetically pleasing, as well as safe, reliable, and easy to use.
    </p>
  </div>
  <div class="flex w-full gap-4 h-[28%] mb-4">
    <div
      class="w-1/2 flex flex-col gap-2 p-4 rounded-2xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 lg:p-12"
    >
      <a
        href="#"
        class="text-2xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Social Media App
      </a>
      <p class="text-lg font-normal text-gray-500">
        This app could allow users to create profiles, follow others, post
        updates, and interact through comments and likes.
      </p>
    </div>
    <div
      class="w-1/2 flex flex-col gap-2 p-4 rounded-2xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 lg:p-12"
    >
      <a
        href="#"
        class="text-2xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Job Platform
      </a>
      <p class="text-lg font-normal text-gray-500">
        This platform could allow job seekers to browse through various job
        listings
      </p>
    </div>
  </div>
  <div class="flex w-full gap-4 h-[28%]">
    <div
      class="w-1/2 flex flex-col gap-2 p-4 rounded-2xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 lg:p-12"
    >
      <a
        href="#"
        class="text-2xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Tutorial App
      </a>
      <p class="text-lg font-normal text-gray-500">
        This app offer pre-recorded lessons on various subjects, ranging from
        academic topics to professional skills
      </p>
    </div><div
      class="w-1/2 flex flex-col gap-2 p-4 rounded-2xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 lg:p-12"
    >
      <a
        href="#"
        class="text-2xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Gaming App
      </a>
      <p class="text-lg font-normal text-gray-500">
        This app could feature multiplayer games where users compete against
        each other in real-time.
      </p>
    </div>
  </div>
</Section>
