---
import Experience from "../pages/sections/Experience.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "./sections/Projects.astro";
import Main from "./sections/Main.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Web Portfolio" description="Web Portfolio">
  <main class="flex flex-col gap-4 px-4 w-full max-w-screen-2xl">
    <Main />
    <div class="flex gap-4 w-full">
      <Experience />
      <Projects />
    </div>
  </main>
</Layout>
