---
import CodeIcon from "./icons/CodeIcon.astro";
---

<header class="w-full">
  <nav class="flex items-center mx-auto p-4 gap-4 max-w-screen-2xl">
    <div
      class="flex justify-center items-center p-3 border rounded-full bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="/">
        <CodeIcon class="size-8 stroke-orange-500" />
      </a>
    </div>
    <div
      class="flex flex-1 justify-between items-center p-4 border rounded-full bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      <a
        href="#about-me"
        class="font-medium text-gray-900 dark:text-white hover:text-orange-500 transition duration-100"
        >About me</a
      >
      <a
        href="#experience"
        class="font-medium text-gray-900 dark:text-white hover:text-orange-500 transition duration-100"
        >Experience</a
      >
      <a
        href="#projects"
        class="font-medium text-gray-900 dark:text-white hover:text-orange-500 transition duration-100"
        >Projects</a
      >
      <a
        href="#contact"
        class="font-medium text-gray-900 dark:text-white hover:text-orange-500 transition duration-100"
        >Contact</a
      >
    </div>
  </nav>
</header>
